repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast  # Is it valid Python?
      - id: debug-statements # no debugging statements used
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      #      - id: name-tests-test
      - id: check-docstring-first
      - id: requirements-txt-fixer
      - id: detect-private-key
  #      - id: check-executables-have-shebangs

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args:
          - --profile=black
          - --filter-files

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args:
          - --line-length=120

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [ black==20.8b1 ]

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        exclude: (docs|tests)
        args:
          - --max-line-length=120
          - --ignore=E501,W503
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-tidy-imports

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.48"
    hooks:
      - id: check-manifest
        args: [ "--no-build-isolation", "--ignore",  "*.png,docs/*,paper/*,setup.py,publish.py,readthedocs.yml,poetry.lock" ]
        additional_dependencies: [ numpy, poetry==1.1.11 ]

  # TODO sphinx check
  #    -   repo: https://github.com/myint/rstcheck
  #        rev: 'v3.3.1'
  #        hooks:
  #        -   id: rstcheck

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade

#    # very detailed linting:
#    -   repo: https://github.com/pycqa/pylint
#        rev: pylint-2.6.0
#        hooks:
#            -   id: pylint
